RewriteEngine on
RewriteRule ^$ frontController.php?controller=default&action=default [QSA,L]
RewriteRule ^([a-zA-Z0-9]+)\/$ frontController.php?controller=$1&action=default [QSA,L]
RewriteRule ^([a-zA-Z0-9]+)\/([a-zA-Z0-9]+)\/$ frontController.php?controller=$1&action=$2 [QSA,L]